app/config/parameters.yml
app/config/parameters.ini
logs/
cache/
vendor/
vendor/*
web/bundles/
Propel/om/*
Propel/map/*
composer.lock
phpunit.xml
Tests/*
catalog.xml
*.log
._*
.Spotlight-V100
.Trashes
Icon?
